@tbheight:60px;

.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  box-shadow: @shadow;
}

@whiteglow: inset 0 0 15px 5px rgba(255,255,255,1);

.alex.topbar {
    position:absolute;
    .fill {
    /*    background:url('../../../front-end/media/images/bg/images/map.jpg') right top;*/
        .container #country-select_chzn {
            margin-top:5px;
            div ul {
                float:none;
            }
            div ul li {
                float:none;
                vertical-align:baseline;
                
            }
        }
    }
    
}

.chzn-container .chzn-results li {
    line-height:100%;
}

#sb_eventswrapper {
    height:500px;
    overflow:auto;
    ::webkit-scrollbar { z-index:10;}
    ul#sb_events {
        margin:0px;   
        li{
            //margin-left:-5px;
            padding-left:5px;
            list-style:none;
            border-top:1px solid #eee;
            .sb_date {
                font-size:10px;
                text-decoration:underline;
            }
        }
    }
}

@shadowheight:30px;

#sb_topshadow {
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */

    height:@shadowheight;
    z-index:5;
    width:auto;
    position:relative;
    top:@shadowheight;
    margin-right:17px;
}

#sb_bottomshadow{
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */

    height:@shadowheight;
    z-index:5;
    width:auto;
    position:relative;
    top:@shadowheight * -1;
    margin-right:17px;
}

.currentyear {
    .box-shadow(0 0 8px rgba(82,168,236,.6));
    background-color: rgba(82,168,236,.1);
    border-left:1px solid rgba(82,168,236,.8);
    border-top:1px solid rgba(82,168,236,1);
    color:#000;
}