<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{{ proj_name }}{% endblock %}</title>
  <meta name="description" content="{{ proj_description }}">
	<meta name="author" content="{% for author in founders %}{{ author.name }},{% endfor %}">

	<!-- Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

	<!-- CSS: implied media=all -->
	<!-- CSS concatenated and minified via ant build script-->
	<link rel="stylesheet" href="/front-end/media/css/h5bp-style.css">
	<link rel="stylesheet" href="/front-end/media/css/bootstrap.min.css">
	<link rel="stylesheet" href="/front-end/media/css/your-style.css">
  <!--put your css here. -->
  <link rel="stylesheet" href="/front-end/media/chosen/chosen.css">
  {% block css %}
  {% endblock css %}
	<link rel="stylesheet" href="/front-end/media/css/h5bp-style-after.css">
	<!--NOTE: to write your own custom CSS, edit the file
		called "your-style.css", don't insert a <link> here. 
		your-style.css is in the proper place. 
		-->
	<!-- end CSS-->
    
	<!-- If you want to use LESS, 
		comment out the above bootstrap.min.js and your-style.css, 
		and uncomment the below. Also the LESS js script -->
	<!--<link rel="stylesheet/less" type="text/css" href="/front-end/media/bootstrap/lib/bootstrap.less">-->
	<!--<script src="/front-end/media/static/less-1.1.3.min.js"></script>-->

	<!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
	<script src="/front-end/media/static/modernizr-2.0.6.min.js"></script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28421899-1']);
    _gaq.push(['_setDomainName', 'histography.org']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body>
	<!-- html5 boilerplate told me to put <div id="container> there... 
		doubt it's necessary though. 
		Also, note that Bootstrap frequently uses "container"
		as a class, so avoid getting them mixed up. 
		-->
	<div id="container">

		<div class="topbar alex">
			<div class="fill">
				<div class="container">
					<a class="brand" href="../../">{{ proj_name }}</a>
					<ul class="nav">
						{% block nav %}
						{% endblock nav %}
					</ul>
          <select data-placeholder="Choose a Country" class="chzn-select" style="width:350px;" id="country-select" tabindex="2">
              <option value=""></option> 
              {% for country in countries %}
              <option value="{{country.slug}}">{{country.short_name}}</option> 
              {% endfor %}
          </select>
          <!-- <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
          -->
				</div>
			</div>
		</div>

		<div id="main" role="main" class="container">
			{% block content %}
			{% endblock %}
      

			<footer style="text-align:center">
			{% block footer %}
				<p>&copy; {{ proj_name }} 2012</p>
        <p>
          A project by 
          {% for author in founders %}
            <a href="{% if author.url %}{{ author.url }}{% else %}mailto:{{ author.email }}{% endif %}" 
              rel="popover" data-placement="above" title="{{ author.name }}"
              data-content="
                <img src='{{ author.picture }}' style='max-width:100%;'>
                <p>{{ author.blurb }}</p>
                <p>You can email me at {{ author.email }}</p>
            ">
              {{ author.name }}
            </a> 
          {% endfor %}
        </p>
			{% endblock %}
			</footer>
		</div> <!--! end of #main.container-->
	</div> <!--! end of #container -->
  
    <!-- JavaScript at the bottom for fast page loading -->

	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/front-end/media/static/jquery-1.6.2.min.js"><\/script>')</script>


	<!-- scripts concatenated and minified via ant build script-->
	<script defer src="/front-end/media/static/h5bp-plugins.js"></script>
  <script src="/front-end/media/bootstrap/js/bootstrap-twipsy.js"></script>
  <script src="/front-end/media/bootstrap/js/bootstrap-popover.js"></script>
	<script defer src="/front-end/media/static/histography.js"></script>
  <script src="/front-end/media/chosen/chosen.jquery.js" type="text/javascript"></script>
	<!-- more scripts here -->
  <script>
    var twoptions = {'html':true};
    $('footer p a').popover(twoptions);
    $(".chzn-select").chosen();
    $("#country-select").chosen().change(function () {
        window.location.href = '/' + $(this).val()
    });
  </script>
  
  {% block scripts %}
  {% endblock scripts %}
	<!-- end scripts-->



	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
	   chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->

</body>
</html>