{% extends "base.html" %}

{% block title %}{{ block.super }} | {{ country.short_name }} {% endblock %}

{% block css %}
<style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }
      
      /* The white background content wrapper */
      .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

     
      /* Give a quick and non-cross-browser friendly divider */
      .content .sidebar {
        margin-left: 0;
        padding-left: 19px;
        border-left: 1px solid #eee;
      }

      .topbar .btn {
        border: 0;
      }

    </style>
{% endblock css%}

{% block nav %}
{% endblock nav %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="content">
  <div class="page-header">
    <div class="row">
      <div class="span12">
        <h1>{{ country.short_name }} 
          {% ifnotequal country.short_name country.long_name %}
            <small> {{ country.long_name }}</small>
          {% endifnotequal %}
        </h1>
        
      </div>
      <div class="span4" id="loadstatus">
      
      </div>
    </div>
  </div>
  <div class="row countrycontent">
    <div class="span10">
      <div class="row">
        <form class="span10"><select data-placeholder="Choose an indicator" multiple class="chzn-select" style="width:90%" id="indicator-select" tabindex="2">
          <option value=""></option> 
          {% for category in categories %}
            <optgroup label="{{category.name}}">
              {% for indicator in category.indicators.all %}
                {% if indicator.code == 'NY.GDP.PCAP.KD' %}
                  <option selected value="{{indicator.code}}">{{indicator.name}}</option> 
                {% else %}
                  <option value="{{indicator.code}}">{{indicator.name}}</option> 
                {% endif %}
              {% endfor %}
            </optgroup> 
          {% endfor %}
        </select></form>
      </div>
      <div id="countrychart" style="max-width:100%; height:500px;">
      </div>
    </div>
    <div class="span6 sidebar">
      <h3> Historical Events</h3>
      <div id="sb_topshadow"></div>
      <div id="sb_eventswrapper">
        <ul id="sb_events">
        </ul>
      </div>
      <div id="sb_bottomshadow"></div>
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="/front-end/media/static/highstock.src.js" type="text/javascript"></script>
<script src="/front-end/media/static/date.js" type="text/javascript"></script>
<!--<script type="text/javascript" src="/front-end/media/static/jquery.svgdom.min.js"></script>-->
<script type="text/javascript">
  
  //format for making the list in the sidebar
  var li_ptn = [
    '<li class="sb_event ',
    '"><p class="sb_date">',
    '</p><p class="sb_text">',
    '<p></li>'
  ]
  
  //looks up whether there are already dates in the date list
  Array.prototype.inDateArray = function (value) {
    var i;
    for (i=0; i < this.length; i++) {
      if (this[i] == value) {
          return true;
        }
      }
    return false;
  };
  
  //gets the location of a given date (in pixels from top of sb_eventswrapper div)
  Array.prototype.getDateLoc = function (year) {
    var i;
    for (i=0; i < this.length; i++) {
      if (this[i]['date'] == year) {
        return this[i]['location'];
      }
    }
    console.log('year not found');
    return 'year not found';
  };
  
  //gets the number of events
  function getNumEvents(value) {
    return dates.filter(function(x){return x==value}).length;
  };
  
  var dates = [];
  var dateLocs = [];
  
  //scrolls on the sidebar to a date
  jQuery.fn.extend({
    scrollToYear: function (thisdate) {
      $('.currentyear').removeClass('currentyear');
      var x = dateLocs.getDateLoc(thisdate) - 250;
      $(this).addClass('currentyear');
      //console.log(this);
      //console.log(x);
      $('div#sb_eventswrapper').animate({scrollTop: x}, 250);
  }});
  
  //main options for chart
  var today = new Date().getTime();
  var datestart = new Date(1960,0,1).getTime();
  var options = {
        chart: {
          renderTo: 'countrychart',
        }, 
        rangeSelector: {
          selected: 5
        },
        xAxis: {
          ordinal: false,
        },
        /*navigator: {
          enabled: true,
        },*/
        series: [
          {
            id: ' ',
            name : 'Today',
            data : [[today,0],[datestart,0]],
            //visible: false,
          },
        ]
      };
      
  //initialize chart    
  var chart = new Highcharts.StockChart(options);

  function getMetricId (metric) {
    return metric.replace(/\./g, "_");
  }

  function load_metric (metric) {
	  var metricId = getMetricId(metric);
	  var metricData = [];
	  $(function getData() { 
	    $('#loadstatus').append("<h3><img src='/front-end/media/images/ajax-loader.gif'/><small>data is loading</small></h3>");  
	    $.getJSON('../api/data/{{country.slug}}/' + metric + '/', function(data) {
	      $.each(data, function(counter, list) {
	        var date = new Date (list[0][0],list[0][1] - 1,list[0][2]);
	        var newbit = [date.getTime(),list[1]];
	        metricData.push(newbit);
	      });
	      var dataSeries = {
	          id: metricId,
	          name : $("#indicator-select option[value='" + metric + "']").text(),
	          data : metricData, 
	          marker : {
	            enabled: true,
	            //radius: 1,
	            symbol: 'diamond', //"url()";
	          },
	          tooltip : {
	            xDateFormat: '%Y',
	            style: {
	              width:'100px'
	            },
	            yDecimals: 2
	          }
	        };
	      $('#loadstatus').children('h3:first').remove();
	      chart.addSeries(dataSeries);  
	      //chart.options['navigator']['baseSeries'] = 'data_series';
	    });
	  });
  }

  $(function() {
    $("#indicator-select").chosen().change(function(){
      var metrics = $(this).val();

      /*
       * Remove de-selected existing metrics
       *
       * We skip:
       *   the first (0) series "Today", 
       *   the second (1) series "Navigator",
       *   and third (2) series "Series 3"
       */
      for (var i = 3; i < chart.series.length; i++) {
    	// If metrics is empty, remove all metrics from the graph
    	if (metrics == null) {
    		chart.series[i].remove();
    	}
    	else {
          var seriesId = chart.series[i].options.id.replace(/_/g, ".");
          if ( jQuery.inArray(seriesId, metrics) == -1 ) {
       	    chart.series[i].remove();
          }
    	}
      }
      
      // Add newly selected metrics if metrics is not null
      if (metrics != null) {
        for (var i = 0; i < metrics.length; i++) {
          metric = metrics[i];
          metricId = getMetricId(metric);

          // Skip existing ids
    	  if (chart.get(metricId)) {
            continue;
    	  }

          load_metric(metric, metricId);    	  
        }
      }

      chart.redraw();
      return true;
    });

    // Load initial GDP series
    load_metric('NY.GDP.PCAP.KD', 'NY_GDP_PCAP_KD');

    // Hide "Today" series
    //chart.series[0].hide();
  });

  var event_data = [];
  
  //get all them events!
  $(function getEvents() {
    $('#loadstatus').append("<h3><img src='/front-end/media/images/ajax-loader.gif'/><small>events are loading</small></h3>");
      $.getJSON('../api/events/{{country.slug}}/', function(data) {
        var metadata = data['metadata'];
        if (metadata['remaining'] == 0) {
          done = true;
        }
        data = data['data'];
        $.each(data, function(counter, list) {
          var date = new Date (list[0][0],list[0][1] - 1,list[0][2]);
          //add to date array for interaction with event sidebar
          var yearmonth = date.getFullYear().toString() + date.getMonth().toString();
          var ymstring = date.get
          if (dates.inDateArray(yearmonth) == false) {
            dates.push(yearmonth);
            //add to graph
            if (date.getFullYear() >= 1960 && date <= today){
              
              event_data.push({
                x : new Date(date.getFullYear(),0,1),
                id : yearmonth,
                name : new Date(date.getFullYear(),date.getMonth(),1).toString("MMMM yyyy")
              });
            }
          }
          //formulate event sidebar
          var string = li_ptn[0] + yearmonth + li_ptn[1] + date.toDateString() + li_ptn[2] + list[1] + li_ptn[3];
          //add to events sidebar
          $('ul#sb_events').append(string);
        });
        //tell how many historical events there are
        $('.sidebar h3').prepend(data.length.toString());
        for (var y = 0; y < dates.length; y++) {
          //console.log(dates[y]+':'+'.sb_event.'+dates[y]);
          dateLocs.push({
            'date':dates[y],
            'location':$('.sb_event.'+dates[y]).first().position().top
          });
          //console.log(dateLocs);
        }
        var eventSeries = {
            type : 'flags',
            id : 'events',
            color: '#4572A7',
            name : 'events',
            data : event_data,
            stackDistance: 5,
            shape : 'circlepin',
            allowPointSelect: true,
            borderRadius:0,
            y: -8,
            title: ' ',
            tooltip: {
              xDateFormat: '%B %Y',
              headerFormat:'',
              pointFormat: '<span style="font-size: 10px">{point.name}</span><br/><span style="color:{series.color}">events: <b>{point.thang}</b></span>',
              yDecimals:'',
              yPrefix:'',
              ySuffix:'',
            },
            width : 1,
            height: 1,
            //selected : true,
            point: {
              events: {
                mouseOver: function() {
                  var thisdate = new Date(this.id.substring(0,4), this.id.substring(4),1);
                  var thisym = thisdate.getFullYear().toString() + thisdate.getMonth().toString();
                  //console.log('rolled over '+ thisdate);
                  $('.'+thisym).scrollToYear(thisym);
                }
              }
            }
          };
          chart.addSeries(eventSeries);
      });
      $('#loadstatus').children().remove();
  });
  
  //var chzn_twoptions = {'html':true, 'placement':'below'};
   //$('ul.chzn-choices li.search-choice').popover(chzn_twoptions);
   //$('ul.chzn-choices li.search-choice').$each.attr('data-placement', "hello world");
  
        // Also, add in other data series's with the 
        // chart.addSeries() function documented here: 
        // http://www.highcharts.com/stock/ref/#chart-object
  
</script>
{% endblock scripts %}
