.alex.topbar {
  position: absolute;
}
.alex.topbar .fill {
  /*    background:url('../../../front-end/media/images/bg/images/map.jpg') right top;*/

}
.alex.topbar .fill .container #country-select_chzn {
  margin-top: 5px;
}
.alex.topbar .fill .container #country-select_chzn div ul {
  float: none;
}
.alex.topbar .fill .container #country-select_chzn div ul li {
  float: none;
  vertical-align: baseline;
}
.chzn-container .chzn-results li {
  line-height: 100%;
}
#sb_eventswrapper {
  height: 500px;
  overflow: auto;
}
#sb_eventswrapper::webkit-scrollbar {
  z-index: 10;
}
#sb_eventswrapper ul#sb_events {
  margin: 0px;
}
#sb_eventswrapper ul#sb_events li {
  padding-left: 5px;
  list-style: none;
  border-top: 1px solid #eee;
}
#sb_eventswrapper ul#sb_events li .sb_date {
  font-size: 10px;
  text-decoration: underline;
}
#sb_topshadow {
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */

  background: linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C */

  height: 30px;
  z-index: 5;
  width: auto;
  position: relative;
  top: 30px;
  margin-right: 17px;
}
#sb_bottomshadow {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* IE10+ */

  background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* W3C */

  height: 30px;
  z-index: 5;
  width: auto;
  position: relative;
  top: -30px;
  margin-right: 17px;
}
.currentyear {
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  background-color: rgba(82, 168, 236, 0.1);
  border-left: 1px solid rgba(82, 168, 236, 0.8);
  border-top: 1px solid #52a8ec;
  color: #000;
}
